.nav-item {
    flex: 1;
}
#micrologo {
    height:40px;
    width: 130px;
}
.navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center; 

 }

.container-fluid{
    display: flex;
    justify-content: space-evenly;
}